/* Resets the margin and padding to remove any default spacing */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensures the root elements take full viewport height */
  }
  
  .full-screen {
    position: relative; /* Set position to relative for absolute child positioning */
    width: 100%;
    height: 100vh; /* Ensures it takes up full viewport height */
    overflow: hidden; /* Prevents any overflow from content */
  }
  
  .background-video video {
    position: absolute; /* Changed from fixed to absolute */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .experiment-button {
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white */
    border: 2px solid #FFFFFF; /* White border */
    border-radius: 20px; /* Rounded corners */
    padding: 1rem 2rem;
    display: inline-block;
    position: absolute; /* Position absolute to the parent full-screen */
    top: 10px; 
    left: 90px; /* Aligns to the left */
    text-decoration: none;
    color: #FFFFFF; /* White text */
    font-weight: 600;
    transition: all 0.3s ease; /* Transition for all properties for smooth effect */
  }
  
  .experiment-button:hover {
    background-color: rgba(255, 255, 255, 0.5); /* Slightly more opaque on hover */
    color: #000000; /* Change text color on hover if needed */
  }

  .merry-christmas-message {
    position: absolute;
    top: 50%; /* Vertically center the message */
    left: 90px; /* Adjust the left position as needed */
    height: 200px;
    width: 200px;
    transform: translateY(-90%); /* Center vertically */
    background-color: rgba(43, 31, 31, 0.753); /* Semi-transparent white */
    border: 4px solid #d33e3e; /* White border */
    border-radius: 0px; /* Rounded corners */
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 44px;
    display: flex;
    color: #FFFFFF; /* White text */
    font-weight: 600;
    transition: all 0.3s ease; /* Transition for all properties for a smooth effect */
  }

    .merry-christmas-message:hover {
        background-color: rgb(255, 255, 255); /* Slightly more opaque on hover */
        color: #000000e0; /* Change text color on hover if needed */
    }

  .top-left-text-field {
    position: fixed;
    top: 10px;
    left: 90px;
    padding: 5px;
    font-size: 11px;
    font-family: Arial, sans-serif; /* Corrected font property to font-family */
    color: #0f0f0f; /* White text */
    background: transparent; /* No background */
    border: none; /* No border */
    outline: none; /* Removes outline on focus */
    z-index: 4
}
