/* Resets the margin and padding to remove any default spacing */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensures the root elements take full viewport height */
  }
  
  .full-screen {
    position: relative; /* Set position to relative for absolute child positioning */
    width: 100%;
    height: 100vh; /* Ensures it takes up full viewport height */
    overflow: hidden; /* Prevents any overflow from content */
  }
  
  .background-video video {
    position: absolute; /* Changed from fixed to absolute */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .experiment-button {
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white */
    border: 2px solid #FFFFFF; /* White border */
    border-radius: 20px; /* Rounded corners */
    padding: 1rem 2rem;
    display: inline-block;
    position: absolute; /* Position absolute to the parent full-screen */
    bottom: 10px; /* Aligns to the bottom */
    left: 90px; /* Aligns to the left */
    text-decoration: none;
    color: #FFFFFF; /* White text */
    font-weight: 600;
    transition: all 0.3s ease; /* Transition for all properties for smooth effect */
  }
  
  .experiment-button:hover {
    background-color: rgba(255, 255, 255, 0.5); /* Slightly more opaque on hover */
    color: #000000; /* Change text color on hover if needed */
  }